<div class="sidebar" id="content-menu" data-color="" data-background-color="black" data-image="{{ asset('material-dashboard/img/sidebar-1.jpg') }}">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
</div>

<script>

    Menu = {
        currentPath: '{{ app.request.pathinfo }}',
        contentMenu: $('#content-menu'),
        loadMenu: function () {
            $.ajax({
                url: '{{ path('app_menu') }}',
                complete: function(response) {
                    Menu.contentMenu.html(response.responseText);
                }
            });
        },
        applyColorsMenu: function () {
            $.ajax({
                url: '{{ path('menu_color') }}',
                complete: function(response) {
                    var colors = response.responseJSON;
                    Menu.contentMenu.attr('data-color', colors.activeItem);
                    Menu.contentMenu.attr('data-background-color', colors.filterColor);
                }
            });
        },
        init: function () {
            this.loadMenu();
            this.applyColorsMenu();
        }
    };

    Menu.init();

</script>
